.App {
  text-align: center;
  background: linear-gradient(to left, #EFF0D1, #CDD0B0);
  height: 100vh;
}
.container {
  margin: 0 auto;
  width: 370px;
  height: 335px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.space {
  margin: 0px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
}
.selected {
  margin: 0px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
  background: yellow;
}
.rowHighlight {
  margin: 0px;
  width: 60px;
  font-size: 30px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
  background: blue;
}
.clue {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 300px;
  height: 80px;
  font-size: 14px;
  word-wrap: normal;
  overflow: scroll;
}
.dark_space {
  margin: 0px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
  background: black;
}
input > .space {
  font-size: 28px;
}
