@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Roboto+Slab');

* {
  font-family: 'Roboto Slab', serif;
}
a {
  text-decoration: none;
  margin: 25px;
  font-size: 20px;
  color: #EFF0D1;
}
a:visited {
  text-decoration: none
}
button {
  background: none;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
}
button:hover {
  background: black;
  color: #EFF0D1;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  text-align: center;
  font-size: 10px;
  color: #EFF0D1;
}
h3 {
  text-align: center;
}
main {
  height: auto;
  background: linear-gradient(to left, #EFF0D1, #CDD0B0);
}
li {
  font-size: 1.0em;
}
nav {
  background: black;
  width: 100%;
  color: #EFF0D1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 900;
}
p {
  margin: 0;
}
ul {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 80px;
}
.App {
  text-align: center;
  background: linear-gradient(to left, #EFF0D1, #CDD0B0);
  height: 100vh;
}
.attribution {
  font-size: 1.0em;
  padding: 0px;
  margin: 0;
}
.clue {
  margin-top: 0px;
  width: 90px;
  height: 240px;
  font-size: 14px;
  word-wrap: normal;
  overflow: scroll;
}
.clueContainer {
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10px;
}
.clueContainer2 {
  padding: 10px;
}
.clueHeader {
  font-weight: 700;
}
.container {
  margin: 0 auto;
  width: 335px;
  height: 335px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.crosswordIcon {
  width: 50px;
}
.dark_space {
  margin: 0px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
  background: black;
}
.deleteIcon {
  width: 20px;
  height: 20px;
}
.facebookLogin {
  width: 15%;
  min-width: 200px;
  height: auto;
  margin-top: 15px;
}
.facebookF {
  width: 35px;
}
.fb-login-button {
  margin: 20px auto;
  width: 270px;
  height: 40px;
  background: #4267B2;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  font-size: 20px;

}
.gameContainer {
  width: 75%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  font-family: 'Nanum Pen Script', cursive;
}
#github-link {
  color: black;
}
.imageContainer {
  width: 50%;
  margin: 0 auto;
}
.landingImage {
  width: 20%;
  min-width: 300px;
  height: auto;
  margin: 0 auto;
}
.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginText {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.mainContainer {
  width: 335px;
}
.modalMessage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  color: white;
  font-size: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 8;
}
.profileImage {
  width: 100%;
  border-radius: 100%;
}
.rowHighlight {
  margin: 0px;
  width: 60px;
  font-size: 30px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
  background: blue;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
}
.savedGame {
  display: flex;
}
.savedGamesList {
  display: flex;
  flex-wrap: wrap;
}
.selected {
  margin: 0px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
  background: yellow;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
}
.space {
  margin: 0px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
}
input > .space {
  font-size: 28px;
}
.thanks {
  margin: 40px;
}
#timer {
  margin: 0px;
  margin-bottom: 10px;
}
.userView1 {
  padding: 15px;
  width: 40%;
  height: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userView2 {
  padding: 15px;
  width: 40%;
  border: 1px solid black;
  overflow: scroll;
}
.userViewContainer {
  margin: 30px auto;
  width: 75%;
  border: 1px solid black;
  height: auto;
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 20px;
}
@media screen and (max-width: 643px) {
  .userViewContainer{
    flex-flow: column;
  }
  a {
    margin: 10px;
    font-size: 15px;
  }
  button {
    font-size: 15px;
  }
  h3 {
    text-align: center;
    font-size: 0.9em;
    margin: .5em auto;
  }
  h4 {
    font-size: 0.7em;
    margin-top: 0.4em auto;
  }
  .container {
    width: 225px;
    height: 225px;
    margin-right: 10px;
  }
  .dark_space {
    width: 40px;
    height: 40px;
  }
  .profileImage {
    width: 70%;
  }
  .rowHighlight {
    width: 40px;
    font-size: 20px;
    height: 40px;
  }
  .selected {
    width: 40px;
    font-size: 20px;
    height: 40px;
  }
  .space {
    width: 40px;
    font-size: 20px;
    height: 40px;
  }
  .userView1 {
    width: 90%;
    margin-bottom: 20px;
    align-items: flex-start;
  }
  .userView2 {
    width: 90%;
  }
  .userViewContainer{
    flex-flow: column;
  }
}
