.App {
  text-align: center;
  background: linear-gradient(to left, #EFF0D1, #CDD0B0);
  height: 100vh;
}
.container {
  margin: 0 auto;
  width: 370px;
  height: 370px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.space {
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
}
.selected {
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
  background: yellow;
}
.rowHighlight {
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 5%;
  border: 2px solid black;
  background: blue;
}
